.crx_mouse_visited {
    background-clip: #bcd5eb!important;
    outline: 1px dashed #e9af6e!important;
}
.ui-dialog {
    opacity: 0.8;
}
.keyword_entry_row-element {
    /* border: 1px solid silver; */
}

.imagemarker-dialog-body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 2px;
}

.imagemarker-dialog-form {
    display: table;
    width: 100%;
    outline: 1px solid rgb(2, 20, 10);
    margin-top: 1em;
}

.imagemarker-dialog-form>header {
    display: table-header-group;
    background-color: rgb(3, 17, 95);
}

.radio-header {
    display: flex;
    justify-content: space-around;
}


.imagemarker-dialog-section {
    display: table-row;
}

.imagemarker-dialog-section>div,
header>div {
    display: table-cell;
    padding: 0.2em 0.1em;
    outline: 1px solid rgb(236, 235, 245);
}

.keyword-text-cell {
    width: 225px;
}

.keyword-category-cell {
    width: 166px;
}